.navbar {
    border-bottom: 1px solid red;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0.5rem;
}

.navitem{
    margin: 0 0.5rem;
}

.navlink {
    color: red;
    text-decoration: none;
    padding: 0;
    margin: 0;
}


.navbar button {
    background-color: #fff;
    color: #007bff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}
.navbar button:hover {
    color: #000;
}
.navbar button:active {
    transform: scale(0.9);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownMenu {
    display: block;
    position: absolute;
    right: 0; /* aligns the dropdown to the right of the button */
    background-color: #f1f1f1;
    /* min-width: 160px; */
    z-index: 1;
    padding: 0.4rem;
    border-radius: 8px;
}